<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Calculer">
</form>

{% if subforms %}
    {% for subform in subforms %}
        <h3>Condition {{ forloop.counter }} </h3>
        {{ subform.filtre.errors }}
        {{ subform.filtre.label_tag }}: {{ subform.filtre }}
        <br>
        {{ subform.operateur.errors }}
        {{ subform.operateur.label_tag }}: {{ subform.operateur }}
        <br>
        {{ subform.valeur.errors }}
        {{ subform.valeur.label_tag }}: {{ subform.valeur }}
        <br>
        {{ subform.date1.errors }}
        {{ subform.date1.label_tag }}: {{ subform.date1 }}
        <br>
        {{ subform.date2.errors }}
        {{ subform.date2.label_tag }}: {{ subform.date2 }}
        <br>
        <br>
    {% endfor %}
{% endif %}

{% if rfa %}
    <p>Le RFA est de 50$.</p>
{% endif %}
