{% load static %}

<head> <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<form method="post">
         {% csrf_token %}


    <div id="form-container">
            <div class="group-pharma-choice">
        {% csrf_token %}
        {{ pharma_form }}
    </div>
         </div>

<button type="button" id="and-btn" class="form-btn" style="width: 100px; display: none;">ET</button>
    <button type="button" id="or-btn" class="form-btn" style="width: 100px; display: none;"> OU </button>
    <br> <br>
  <button type="button" id="add-simple" class="btn" style="width: 170px;"> Ajouter Condition Simple </button>
  <button type="button" id="add-comparative" class="btn" style="width: 170px;"> Ajouter Condition Comparative </button>
  <br><br>
    <input type="submit" value="Calculer" class="form-btn" style="width: 100px; display: none;">

</form>
  {% include 'forms.html' %}



</body>

<script>

</script>