<script>
  $(document).ready(function() {
     var btnValue = "";

    var formCount = 1;

    function addBtnValueInput(newForm){
      var newInput = document.createElement('input');
      newInput.setAttribute('name', 'btn_type_' + formCount);
      newInput.setAttribute('id', 'btn_type_' + formCount);
      newInput.style.display = 'none';
      newInput.value = btnValue;
      newForm.appendChild(newInput);

}

    function addForm(formHTML, width) {
      var htmlString =

      `<div class="form" id="form-${formCount}">
      <h4> ${btnValue} CONDITION ${formCount}</h4>
      <div style="width: ${width}px; line-height: 3;">
      {% csrf_token %}
      ${formHTML}
      </div> </div>
      <br><br>`;
      $('#form-container').append(htmlString);
      var formContainer = document.getElementById('form-container');
       addBtnValueInput(formContainer);

      // Change name and id of each field
      $('#form-' + formCount + ' :input').each(function() {
      var fieldName = $(this).attr('name');
      $(this).attr('name', fieldName + '_' + formCount);
      var fieldId = $(this).attr('id');
      $(this).attr('id', fieldId + '_' + formCount);
    });
      formCount++;
    }

  function enableAddButtons() {
    var addButtonSimple = $('#add-simple');
    var addButtonComparative = $('#add-comparative');
    addButtonSimple.removeAttr('disabled');
    addButtonComparative.removeAttr('disabled');
  }

  function disableAddButtons() {
    var addButtonSimple = $('#add-simple');
    var addButtonComparative = $('#add-comparative');
    addButtonSimple.attr('disabled', 'disabled');
    addButtonComparative.attr('disabled', 'disabled');
  }



function clickOnAddForm(simpleFormHTML, width) {
  addForm(simpleFormHTML, width);
  $('.form-btn').each(function() {
    $(this).show();
  });
  disableAddButtons();

  var whatElement = document.getElementById(`id_what_${formCount - 1}`);
  var unitElement = document.getElementById(`id_unit_${formCount - 1}`);

  $(`#id_what_${formCount - 1}`).on('change', function() {
    disableChoices(whatElement, unitElement);
  });
}



  function disableChoices(whatElement, unitElement) {
    var selectedValue = whatElement.value;

      // Enable all options in unit
      for (let i = 0; i < unitElement.options.length; i++) {
        unitElement.options[i].disabled = false;
      }

      // Disable specific options based on selectedValue
      if (selectedValue === 'gondole') {
        unitElement.options[1].disabled = true;
        unitElement.options[2].disabled = true;
        unitElement.options[3].selected = true;
      }



  }
  $('#add-simple').click(function() {
    var simpleFormHTML = `{{ simple_condition_form.as_table }}`;
    clickOnAddForm(simpleFormHTML, 1050);
  });

  $('#add-comparative').click(function() {
    var comparativeFormHTML = `{{ comparative_condition_form.as_table }}`;
    clickOnAddForm(comparativeFormHTML, 1300);
  });

  $('#and-btn').click(function() {
    enableAddButtons();
    btnValue = "ET";
  });
  $('#or-btn').click(function() {
    enableAddButtons();
    btnValue = "OU";

  });
});


</script>