<html>
    <body>
        Hello World ...
    </body>



</html>

<script>
  $(document).ready(function() {
     var btnValue = "";

    var formCount = 1;

    function addBtnValueInput(newForm){
      var newInput = document.createElement('input');
      newInput.setAttribute('name', 'btn_type_' + formCount);
      newInput.setAttribute('id', 'btn_type_' + formCount);
      newInput.style.display = 'none';
      newInput.value = btnValue;
      newForm.appendChild(newInput);

}

    function addForm(formHTML, width) {
      var htmlString =

      `<div class="form" id="form-${formCount}">
      <h4> ${btnValue} CONDITION ${formCount}</h4>
      <div style="width: ${width}px; line-height: 3;">
      {% csrf_token %}
      ${formHTML}
      </div> </div>
      <br><br>`;
      $('#form-container').append(htmlString);
      var formContainer = document.getElementById('form-container');
       addBtnValueInput(formContainer);

      // Change name of each field
      $('#form-' + formCount + ' :input').each(function() {
      var fieldName = $(this).attr('name');
      $(this).attr('name', fieldName + '_' + formCount);
    });
      formCount++;
    }

  function enableAddButtons() {
    var addButtonSimple = $('#add-simple');
    var addButtonComparative = $('#add-comparative');
    addButtonSimple.removeAttr('disabled');
    addButtonComparative.removeAttr('disabled');
  }

  function disableAddButtons() {
    var addButtonSimple = $('#add-simple');
    var addButtonComparative = $('#add-comparative');
    addButtonSimple.attr('disabled', 'disabled');
    addButtonComparative.attr('disabled', 'disabled');
  }

  function addButtonClick(simpleFormHTML, width) {
    addForm(simpleFormHTML, width);
    $('.form-btn').each(function() {
    $(this).show();
    });

<!--        var addButtonAnd = $('#and-btn');-->

<!--    var addButtonAnd = document.getElementById("and-btn");-->
<!--    var addButtonOr = document.getElementById("or-btn");-->
<!--    var addButtonOr = document.getElementById("or-btn");-->
<!--    addButtonAnd.show()-->
<!--    addButtonAnd.style.display = "inline-block";-->
<!--    addButtonAnd.style.display = "inline-block";-->
<!--    addButtonOr.style.display = "inline-block";-->
    disableAddButtons();

  }

  $('#add-simple').click(function() {
    var simpleFormHTML = `{{ simple_condition_form.as_table }}`;
    addButtonClick(simpleFormHTML, 1050);
  });

  $('#add-comparative').click(function() {
    var comparativeFormHTML = `{{ comparative_condition_form.as_table }}`;
    addButtonClick(comparativeFormHTML, 1300);
  });

  $('#and-btn').click(function() {
    enableAddButtons();
    btnValue = "ET";
  });
  $('#or-btn').click(function() {
    enableAddButtons();
    btnValue = "OU";

  });
});
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

</script>
